<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github2136.photopicker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name="com.github2136.photopicker.activity.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Theme"/>
        <activity
            android:name="com.github2136.photopicker.activity.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Theme"/>
        <activity android:name="com.github2136.photopicker.activity.CaptureActivity">
        </activity>
        <activity android:name="com.github2136.photopicker.activity.CropActivity">
        </activity>
    </application>
</manifest>
