<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github2136.photopicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name="com.github2136.photopicker.activity.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Theme" />
        <activity
            android:name="com.github2136.photopicker.activity.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Theme" />
        <activity
            android:name="com.github2136.photopicker.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.github2136.photopicker.activity.CropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
