<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github2136.picturepicker">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity
            android:name=".activity.PicturePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Theme"/>
        <activity
            android:name=".activity.PictureViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker.Theme"/>
        <activity android:name=".activity.CaptureActivity">
        </activity>
        <activity android:name=".activity.CropActivity">
        </activity>
    </application>
</manifest>
